.c-card{
  padding: $padding-m;
  box-sizing: border-box;
  border: 1px solid $color-black-sub;
  border-radius: $radius-ss;
  margin-bottom: $spacing-2;
  margin-top: $spacing-2;
  &__no-boarder{
    padding: $padding-m;
    box-sizing: border-box;
    margin-bottom: $spacing-2;
    margin-top: $spacing-2;
    border: none;
    &--half{
      @extend .c-card__no-boarder;
      width: 50%;
      @include sm{
        width: 100%;
      }
    }

  }
  &__header{
    padding: $padding-ss;
  }
  &__item{
    margin-bottom: $spacing-2;
    padding: $padding-s;
  }
  &__title{
    margin-bottom: $spacing-1;
    font-size: $font-l;
    @include sm(){
      font-size: $font-m;
    }

    &--link{
      color: $color-main;
      &:hover{
        color: $color-sub;
      }
    }
  }
  &__text-sub{
    font-size: $font-ss;
  }
  &__text-emphasis{
    color: $color-emphasis;
    font-weight: bold;
    display: inline-block;
    margin-top: $spacing-half;
  }
  &__body{
    padding: $padding-ss;
    &--desc{
      @extend .c-card__body;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 250px;
    }
  }
  // &__body--desc{
  //   @extend .c-card__body;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   height: 250px;
  // }
  &__status{
    font-size: $font-ss;
    display: inline-block;
    margin-right: $spacing-half;
    margin-bottom: $spacing-half;
    border: 1px solid $color-black-sub;
    border-radius: $radius-ss;
    box-sizing: border-box;
    padding: $padding-s $padding-m;
  }
  &__link{
    padding: $padding-ss $padding-s;
    color: $color-black-main;
    border-radius: $radius-ss;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 100%;
    &:hover{
      color: $color-main;
    }
  }
  &__footer{
    padding: $padding-ss;
  }
}
