.c-input{
  &__text{
    width: 100%;
    padding: $padding-ss;
    border: 1px solid $color-sub;
    border-radius: $radius-ss;
  }
  &__textarea{
    width: 100%;
    padding: $padding-ss;
    font-size: $font-s;
    border: 1px solid $color-sub;
    border-radius: $radius-ss;
  }
  &__check{
    margin-left: $spacing-1;
    margin-top: auto;
    margin-bottom: auto;
  }
  &__line{
    margin-bottom: $spacing-half;
    padding: $padding-s;
    &--inner{
      margin-bottom: $spacing-half;
    }
    &--check{
      display: flex;
    }
  }
  &__select--wrap{
    position: relative;
    &:after{
      display: block;
      content: " ";
      position: absolute;
      top: 50%;
      right: $spacing-3;
      width: $spacing-3;
      height: $spacing-3;
      margin-top: - $spacing-1;
      background: url("/img/arrow-down.png") 0 0 no-repeat;
      background-size: $spacing-3;
      pointer-events: none;
    }
  }
  &__select{
    margin-bottom: $spacing-half;
    padding: $padding-s;
    border: 1px solid $color-sub;
    border-radius: $radius-ss;
    width:100%;
  }
  &__option{

  }
  &__num{
    padding: $spacing-half;
    border: 1px solid $color-sub;
    border-radius: $radius-ss;
    &--container{
      margin-bottom: $spacing-half;
      padding: $spacing-1;
    }

  }
}
