.c-my-menu{
  &__container{
    display: flex;
    list-style: none;
    padding: $spacing-half 0;
    border-bottom: 1px solid $color-black-sub;
    margin: $spacing-2 0;
    @include md() {
      display: block;
      list-style: none;
      padding: $spacing-half 0;
      border-bottom: 1px solid $color-black-sub;
      overflow-x: auto;
      white-space: nowrap;
    }
  }
  &__link{
    padding: $spacing-half $spacing-1;
    color: $color-black-main;
    text-decoration: none;
    border-radius: $radius-ss;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: center;
    width: 100%;
    &:hover{
      text-decoration: underline;
      color: $color-main;
    }
    @include md() {
      padding: 4px 0px;
      overflow: hidden;
      white-space: nowrap;
    }

  }
  &__item{
      overflow: hidden;
      width: 100%;
      @include md() {
        display: inline-block;
        width: 35%;
      }
  }
  &__text{
    @include md() {
      display: none;
    }
  }
  &__mb-text{
    display: none;
    @include md() {
      display: inline-block;
      font-size: $font-ss;
    }
  }

}
