.c-pagination{
  list-style: none;
  &__container{
    @extend .c-pagination;
    display: flex;
    justify-content: center;
    padding: $spacing-1 $spacing-2;
    margin: $spacing-1 $spacing-2;
  }
  &__item{
    @extend .c-pagination;
  }
  &__item-prev{
    @extend .c-pagination__item;
  }
  &__item-next{
    @extend .c-pagination__item;
  }
  &__link{
    @extend .c-pagination;
    display: block;
    text-decoration: none;
    padding: $spacing-1 $spacing-2;
    border-radius: $radius-ss;
    color: $color-black-main;
    &:hover{
      background: $color-black-sub;
      color: $color-white;
    }
    &--disable{
      @extend .c-pagination;
      display: block;
      text-decoration: none;
      padding: $spacing-1 $spacing-2;
      border-radius: $radius-ss;
    }
  }
  &__link-prev{
    @extend .c-pagination__link;
    &--disable{
      @extend .c-pagination__link--disable;
    }
  }
  &__link-next{
    @extend .c-pagination__link;
    &--disable{
      @extend .c-pagination__link--disable;
    }
  }

}
