.c-search{
  &__container{
    width: 100%;
    display: flex;
    margin-top: $spacing-1;
    @include sm{
      display: block;
    }
    &--border{
      @extend .c-search__container;
      display: flex;
      border: 1px solid $color-black-main;
      border-radius: $radius-ss;
    }
  }
  &__item{
    
    &--border{
      @extend .c-search__item;
      border: 1px solid $color-black-main;
      border-radius: $radius-ss;
    }
  }
}
