.c-search{
  &__container{
    width: 100%;
    display: flex;
    margin-top: $spacing-1;
    &--border{
      @extend .c-search__container;
      border: 1px solid $color-black-main;
      border-radius: $radius-ss;
    }
  }
  &__item{
    margin-right: $spacing-1;
    &--border{
      @extend .c-search__item;
      border: 1px solid $color-black-main;
      border-radius: $radius-ss;
    }
  }
}
