/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.lolipop
.env.default
deploy-lolipop.sh
match.sh
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
dump.sql
matchdump.sql
