// ------------------------------------------------------
// Colors

$color-main: #2699FB;
$color-sub: #BCE0FD;
$color-black-main: #707070;
$color-black-sub: #95989A;
$color-white: #FFFFFF;
$color-emphasis: #fa4b51;

// ------------------------------------------------------
// Font size
$font-ss: 14px; //日付・サブ紹介文など
$font-s: 16px; //通常の文章・<p>(1em相当)
$font-m: 18px; //h3項目など
$font-l: 24px; //ページタイトルなど(1.5em相当)

$font-ll: 30px; //h1表題のサブタイトルなど
$font-xl: 46px; //表題・サービスタイトルなど

// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// ------------------------------------------------------
// height

// header
$header-height: 56px;
$session-height: 56px;

$box-height-m: 250px; //cardのbodyの高さ

$height-m: 50px; // topのボタン ・ prof-iconのサイズ
$height-l: 100px;
$height-ll: 180px; //しっかりと確認して欲しいときなど（例：プロフィール確認画面のプロフ画像）

// ------------------------------------------------------
// width
$max-width: 1040px;
$mobile-width: 750px;

$btn-width-medi: 200px;
$btn-width-half: 100px;

// ------------------------------------------------------
// border-radius
$radius-ss: 4px;


// ------------------------------------------------------
// Typography
// $font-family-base: 'Sawarabi Gothic', sans-serif;
$font-family-base: sans-serif;
$font-family-sub: "Kokoro", sans-serif;
$font-family-logo: 'Montserrat', sans-serif;

// ------------------------------------------------------
// space
$spacing-0: 0;
$spacing-half: 4px;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 48px;
$spacing-6: 64px;
$spacing-7: 96px;
$spacing-8: 128px;
$spacing-9: 192px;
$spacing-10: 256px;

// ------------------------------------------------------
// padding

$padding-0: 0;
$padding-ss: 4px;
$padding-s: 8px;
$padding-m: 16px;
$padding-l: 24px;

// ------------------------------------------------------
// breakpoint

//@media screen and (max-width: 414px){
//  .btn{
//    font-size: .7em;
//  }
//}
// @include mq() {
//     height: 60px;
//     padding-right: $space_l;
//     padding-left: $space_l;
//   }

// マップ型変数
$breakpoints: (
  'sm': 'screen and (max-width: 576px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 992px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

// mixin
@mixin sm($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


@mixin md($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin lg($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin xl($breakpoint: xl) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
