@charset "UTF-8";

/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */

/* # =================================================================
   # Global selectors
   # ================================================================= */

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
   # Forms
   # ================================================================= */

input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */

[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */

button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */

button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */

select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */

img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */

progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */

/* Hide content from screens but not screenreaders */

@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */

[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */

[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */

[aria-disabled] {
  cursor: default;
}

body {
  font-family: sans-serif;
}

.l-footer {
  background: #BCE0FD;
  margin-top: auto;
}

.l-header {
  background: #2699FB;
  height: 56px;
}

.l-main__wrap {
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.c-btn__right {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}

.c-btn__medi {
  padding: 8px;
  background: #2699FB;
  color: #FFFFFF;
  border-radius: 4px;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
}

.c-btn__medi:hover {
  background: #BCE0FD;
}

.c-title__header-link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  line-height: 56px;
}

.c-title__header-link:hover {
  text-decoration: underline;
}

.c-title__sub {
  font-family: "Kokoro", sans-serif;
}

.c-header__container {
  max-width: 1040px;
  display: flex;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background: #2699FB;
  color: #FFFFFF;
}

.c-session-msg {
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #BCE0FD;
  overflow: hidden;
  position: fixed;
  z-index: -10;
  width: 100%;
  -webkit-animation: session 6s ease 1s 1;
          animation: session 6s ease 1s 1;
  transform: translateY(-56px);
}

@-webkit-keyframes session {
  0% {
    transform: translateY(-56px);
  }

  10% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-56px);
  }
}

@keyframes session {
  0% {
    transform: translateY(-56px);
  }

  10% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-56px);
  }
}

.c-nav,
.c-nav__right {
  width: 100%;
  display: flex;
}

.c-nav__right {
  justify-content: flex-end;
}

.c-nav__container {
  display: flex;
  justify-content: space-between;
}

.c-nav__item,
.c-nav__item--small,
.c-nav__item--top {
  display: block;
  text-align: center;
  border-radius: 4px;
  color: #FFFFFF;
  text-decoration: none;
  transition: 0.2s;
  padding: 8px;
  display: flex;
  align-items: center;
}

.c-nav__item:hover,
.c-nav__item--small:hover,
.c-nav__item--top:hover {
  background: #BCE0FD;
  color: #707070;
  transition: 0.2s;
}

.c-nav__item--top {
  height: 56px;
}

.c-nav__item--small {
  line-height: inherit;
}

.c-page-top {
  display: none;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #95989A;
  opacity: 0.6;
  border-radius: 50%;
}

.c-page-top a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}

.c-page-top a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\F106";
  font-size: 24px;
  color: #FFFFFF;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -4px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.c-select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  padding: 4px;
}

.c-select::-ms-expand {
  display: block;
}

.c-input__text {
  width: 100%;
  padding: 4px;
}

.c-input__check {
  margin-right: 8px;
}

.c-search__container,
.c-search__container--border {
  width: 100%;
  display: flex;
  margin-top: 8px;
}

.c-search__container--border {
  border: 1px solid #707070;
  border-radius: 4px;
}

.c-search__item,
.c-search__item--border {
  margin-right: 8px;
}

.c-search__item--border {
  border: 1px solid #707070;
  border-radius: 4px;
}

.c-icon {
  display: flex;
  align-items: center;
}

.c-icon__center {
  justify-content: center;
  padding: 8px;
}

.c-card {
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #95989A;
  border-radius: 4px;
  margin-bottom: 16px;
}

.c-card__header {
  padding: 4px;
}

.c-card__title--link {
  color: #2699FB;
}

.c-card__title--link:hover {
  color: #BCE0FD;
}

.c-card__text-sub {
  font-size: 14px;
}

.c-card__text-emphasis {
  color: #fa4b51;
  font-weight: bold;
  display: inline-block;
  margin-top: 4px;
}

.c-card__body {
  padding: 4px;
}

.c-card__status {
  font-size: 14px;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 1px solid #95989A;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 8px 16px;
}

.c-card__footer {
  display: flex;
  align-items: center;
  padding: 4px;
}

.c-img__container,
.c-img__container--mini {
  text-align: center;
  border: 1px solid #F5ECE7;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
}

.c-img__container--mini {
  width: 50px;
  height: 50px;
}

.c-img__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-link__mini {
  margin-left: 8px;
  font-size: 14px;
  font-weight: bold;
}

.p-profile__mini {
  display: flex;
  align-items: flex-end;
  width: 50%;
}

.p-projects__list {
  margin-top: 16px;
}

.font__ss {
  font-size: 14px;
}

.text-align__center {
  text-align: center;
}

