.u-non{
  display: none;
}
.u-flex{
  display: flex;
  &__center{
    @extend .u-flex;
    justify-content: center;
  }
  &__baseline{
    @extend .u-flex;
    align-items: baseline;
  }
  &__column{
    @extend .u-flex;
    flex-direction: column;
  }
}

.u-display{
  &__sm{
    display: none;
    @include sm{
      display: block;
    }
  }
  &__md{
    display: flex;
    @include sm{
      display: none;
    }
  }
}
