.u-non{
  display: none;
}
.u-flex{
  display: flex;
  &--center{
    @extend .u-flex;
    justify-content: center;
  }
  &--baseline{
    @extend .u-flex;
    align-items: baseline;
  }
  &--column{
    @extend .u-flex;
    flex-direction: column;
  }
}

.u-display{
  &--sm{
    display: none;
    @include sm{
      display: block;
    }
  }
  &--md{
    display: flex;
    @include sm{
      display: none;
    }
  }
}
