.u-font{
  &__ss{
    font-size: $font-ss;
  }
  &__s{
    font-size: $font-s;
  }
  &__sub{
    font-size: $font-s;
    color: $color-black-main;
    padding: $padding-s;
  }
  &__error{
    color: $color-emphasis;
    padding: $spacing-1;
  }
}
