.u-font{
  &__ss{
    font-size: $font-ss;
  }
  &__s{
    font-size: $font-s;
  }
  &__xl{
    font-size: $font-xl;
  }
  &__sub{
    font-size: $font-s;
    color: $color-black-main;
    padding: $padding-s;
  }
  &__bold{
    font-weight: bold;
  }
  &__error{
    color: $color-emphasis;
    padding: $spacing-1;
  }
  &__num{
    background: $color-main;
    padding: $padding-ss;
    border-radius: $radius-ss;
    color: $color-white;
  }
}
